# Python Loops
# For Loop
# While Loop

In [ ]:
# reusability
#  reduce lines of code
# well structures

In [7]:
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

For Loop

In [8]:
for num in range(10):
    print(num,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World
6 Hello World
7 Hello World
8 Hello World
9 Hello World

In [9]:
for num in range(1,10):
    print(num,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World
6 Hello World
7 Hello World
8 Hello World
9 Hello World

In [10]:
for num in range(5,10):
    print(num,"Hello World")

5 Hello World
6 Hello World
7 Hello World
8 Hello World
9 Hello World

In [11]:
for num in range(1,10,2):#(start,end-1,step)
    print(num)

1
3
5
7
9

In [12]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [13]:
for num in range(0,22,2):
    print(num)

0
2
4
6
8
10
12
14
16
18
20

In [14]:
for num in range(10,0,-2):
    print(num)

10
8
6
4
2

In [15]:
for char in "Pakistan":
    print(char)

P
a
k
i
s
t
a
n

In [16]:
for item in["Keyboard","Mouse","Headphone","Monitor","Pen","Notebook"]:
    print(item.upper())

KEYBOARD
MOUSE
HEADPHONE
MONITOR
PEN
NOTEBOOK

In [17]:
for num in 5007:
    print(num)

TypeError: 'int' object is not iterable

In [18]:
items=["Keyboard","Mouse","Headphone","Monitor","Pen","Notebook"]

In [19]:
for item in items[::-1]:
    print(item.upper())

NOTEBOOK
PEN
MONITOR
HEADPHONE
MOUSE
KEYBOARD

In [20]:
for item in items[:-2]:
    print(item.upper())

KEYBOARD
MOUSE
HEADPHONE
MONITOR

In [21]:
for item in items[-2:]:
    print(item.upper())

PEN
NOTEBOOK

In [22]:
items=["Bag","Ball","Cap","Copy","Knife","Keyboard","Mouse","Monitor","Headphone","Pen","Notebook"]

In [23]:
for item in items:
    if item.endswith("e"):
        print(item)

Knife
Mouse
Headphone

In [25]:
for item in items:
    if(item[-1]=="e")and (len(item)>5):
        print(item)

Headphone

In [26]:
items

['Bag',
 'Ball',
 'Cap',
 'Copy',
 'Knife',
 'Keyboard',
 'Mouse',
 'Monitor',
 'Headphone',
 'Pen',
 'Notebook']

In [27]:
for item in items:
    if(item[-1]=='e')or(len(item)<5):
        print(item)

Bag
Ball
Cap
Copy
Knife
Mouse
Headphone
Pen

In [ ]:
#Task: we need to make a list of 50 friends to invite in a party take friends name as input and add in guest list

In [28]:
f1=input("Enter your friend name ")
f2=input("Enter your friend name ")
f3=input("Enter your friend name ")
f4=input("Enter your friend name ")
f5=input("Enter your friend name ")
f6=input("Enter your friend name ")
guest_list=[f1,f2,f3,f4,f5,f6]

Enter your friend name a
Enter your friend name b
Enter your friend name c
Enter your friend name d
Enter your friend name e
Enter your friend name f

In [29]:
guest=[]
for a in range(5):
    friend=input("Enter your friends name ")
    guest.append(friend)

Enter your friends name ali
Enter your friends name wardah
Enter your friends name ansar
Enter your friends name dua
Enter your friends name aiman

In [30]:
guest

['ali', 'wardah', 'ansar', 'dua', 'aiman']

#Break,Continue

In [33]:
for a in range(10):
    if a==5:
        break
    print(a)

0
1
2
3
4

In [34]:
for a in range(10):
    print(a)
    if a==5:
        break

0
1
2
3
4
5

In [37]:
for a in range(10):
    if a==5:
        continue
    print(a)

0
1
2
3
4
6
7
8
9

In [ ]:
#task: take 10 integers as input and find the sum of all integers supplied.

In [38]:
tot=0
for a in range(10):
    num=int(input("Enter a number of your choice"))
    tot+=num
    print(tot)

Enter a number of your choice1
1
Enter a number of your choice2
3
Enter a number of your choice3
6
Enter a number of your choice4
10
Enter a number of your choice5
15
Enter a number of your choice6
21
Enter a number of your choice7
28
Enter a number of your choice8
36
Enter a number of your choice9
45
Enter a number of your choice10
55

In [49]:
a=input("Enter a number of your choice comma seperated").split(",")

Enter a number of your choice comma seperated55,7743,23,1,5,8

In [50]:
a

['55', '7743', '23', '1', '5', '8']

In [51]:
a=input("Enter a number of your choice comma seperated").split(",")
tot=0
for num in a:
    tot +=int(num)
    
tot

Enter a number of your choice comma seperated11,55,88,7,8,9,6,5,77

266

### While Loop ###

In [52]:
a=0
while a<10:
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9

In [53]:
a=10
while a>=0:
    print(a)
    a-=1

10
9
8
7
6
5
4
3
2
1
0

In [54]:
myguests=[]
flag=True
while flag:
    guestName=input("Enter  a guest name or presss q to exit ")
    if guestName=="q":
        flag=False
    else:
        myguests.append(guestName)
        
myguests

Enter  a guest name or presss q to exitmaryam
Enter  a guest name or presss q to exithina
Enter  a guest name or presss q to exitsana
Enter  a guest name or presss q to exitwania
Enter  a guest name or presss q to exitq

['maryam', 'hina', 'sana', 'wania']

### List Comprehension ###

In [55]:
evens=[]
for num in range(20):
    if num%2==0:
        evens.append(num)
evens

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [56]:
[num for num in range(20) if num%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [58]:
odds=[]
for num in range(20):
    if num%2!=0:
        odds.append(num)
odds

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [59]:
[num for num in range(20) if num%2!=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# if else in list comprehension

In [60]:
[f"{n}is even" if n%2==0 else f"{n}is odd" for n in range(20)]

['0is even',
 '1is odd',
 '2is even',
 '3is odd',
 '4is even',
 '5is odd',
 '6is even',
 '7is odd',
 '8is even',
 '9is odd',
 '10is even',
 '11is odd',
 '12is even',
 '13is odd',
 '14is even',
 '15is odd',
 '16is even',
 '17is odd',
 '18is even',
 '19is odd']

### Nested For Loop ###

In [61]:
for table_num in range(2,10):
    for num in range(1,11):
        print(f"{table_num}*{num}={table_num*num}")

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90

In [62]:
[(x,y) for x in range(3) for y in 'ABC']

[(0, 'A'),
 (0, 'B'),
 (0, 'C'),
 (1, 'A'),
 (1, 'B'),
 (1, 'C'),
 (2, 'A'),
 (2, 'B'),
 (2, 'C')]

In [63]:
[(x,y) for x in range(3) for y in 'ABC' if x>0]

[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B'), (2, 'C')]

In [64]:
[a for a in range(1,100) if ((a%7!=0) and (a%5!=0))]

[1,
 2,
 3,
 4,
 6,
 8,
 9,
 11,
 12,
 13,
 16,
 17,
 18,
 19,
 22,
 23,
 24,
 26,
 27,
 29,
 31,
 32,
 33,
 34,
 36,
 37,
 38,
 39,
 41,
 43,
 44,
 46,
 47,
 48,
 51,
 52,
 53,
 54,
 57,
 58,
 59,
 61,
 62,
 64,
 66,
 67,
 68,
 69,
 71,
 72,
 73,
 74,
 76,
 78,
 79,
 81,
 82,
 83,
 86,
 87,
 88,
 89,
 92,
 93,
 94,
 96,
 97,
 99]

In [ ]:
#make a list of squares of first 10 natural number

In [65]:
[a**2 for a in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [66]:
[a**.5 for a in range(1,11)]

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

### Dictionary ####

In [3]:
adict= {}
aset= {}

In [4]:
type(adict)

dict

In [5]:
type(aset)

dict

In [6]:
aset={4}
type(aset)

set

In [8]:
# A dictionary has  a key value pair
student1={'name':"Areeba",'roll':1234,'email':"areebanazkhan44@gmail.com",'name':"Maryam"}

In [9]:
student1

{'name': 'Maryam', 'roll': 1234, 'email': 'areebanazkhan44@gmail.com'}

In [10]:
student1['roll']

1234

In [14]:
student1['email']

'areebanazkhan44@gmail.com'

In [18]:
student1

{'name': 'Maryam', 'roll': 1234, 'email': 'areebanazkhan44@gmail.com'}

In [12]:
#add new members/new key in existing dict

In [19]:
student1['father']="Hassan"

In [20]:
student1

{'name': 'Maryam',
 'roll': 1234,
 'email': 'areebanazkhan44@gmail.com',
 'father': 'Hassan'}

In [21]:
# if we iterate directly on dictionary it will return keys only
for a in student1:
    print(a)

name
roll
email
father

In [22]:
# if we iterate on dictionary.keys() it will return keys

for a in student1.keys():
    print(a)

name
roll
email
father

In [23]:
#we can get values by keys
for a in student1.keys():
    print(a,student1[a])

name Maryam
roll 1234
email areebanazkhan44@gmail.com
father Hassan

In [24]:
#we can get values against keys by get()
for a in student1.keys():
    print(student1.get(a))

Maryam
1234
areebanazkhan44@gmail.com
Hassan

In [25]:
# we  can get values directly
for vals in student1.values():
    print(vals)

Maryam
1234
areebanazkhan44@gmail.com
Hassan

In [26]:
#if we store more than a value in asingle variable without mentioning any of the collection name it will be stored in form of atuple

In [27]:
a=12,13
a

(12, 13)

In [28]:
a=[12,13]#packing
x,y=a  #unpacking

In [29]:
x

12

In [30]:
y

13

In [32]:
#if we need key and value together
for a in student1.items():
    print(a)

('name', 'Maryam')
('roll', 1234)
('email', 'areebanazkhan44@gmail.com')
('father', 'Hassan')

In [33]:
for k,v in student1.items():
    print(k,v)

name Maryam
roll 1234
email areebanazkhan44@gmail.com
father Hassan

In [34]:
atuple=("mangoes","oranges","bananas")
#packing

In [35]:
ali,ahmed,faizan=atuple
#unpacking

In [36]:
__

12

In [39]:
ahmed

'oranges'

In [41]:
faizan

'bananas'